h1 {
    position: absolute;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
}

#map * {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: all 0s ease;
    transition: none;
  }

.search {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}

.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%
}

.locate {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}

.locate img {
    width: 30px;
    cursor: pointer;
}