version: '3.4'

services:
  reporthandler:
    image: reporthandler
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
  mongodb:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - './data/db:/data/db'
    